<!DOCTYPE HTML>
<html>
	<head>
		 <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js"type="text/javascript" charset="utf-8"></script>
  		<script src="https://js.api.here.com/v3/3.1/mapsjs-service.js"type="text/javascript" charset="utf-8"></script>
	</head>	
	<body>
		<div style="width: 100vw; height: 100vh" id="mapContainer"> </div>
			<script>
				// Initialize the platform object:
				 var platform = new H.service.Platform({'apikey': '{{apikey}}'});

				 const lat = {{data.latitute}};
				 const lon = {{data.longitute}};

				// Obtain the default map types from the platform object
				 var defaultLayers = platform.createDefaultLayers();

				// Instantiate (and display) a map object:
				 var map = new H.Map(
					 document.getElementById('mapContainer'),
					 defaultLayers.vector.normal.map,
					 {
						 zoom: 10,
						 center: {lat:lat, lng:lon}
					 }
				 );
				 const marker = new H.Map.Marker({lat:lat, lng:lon});
				 // Add the marker to the map:
				 map.addObject(marker);
			</script>
			{%if data and data.latitute and data.longitute %}
				<h1>Details</h1>
				<p> The latitude is {{data.latitute}} </p>
				<p> The longitude is {{data.longitute}}</p>
			
			{%else%}apikey
				<p>{{error}}</p>
			{%endif%}
	</body>
</html>